# Jupyter Notebook - [Dani]

**Atividade:** Exploração inicial dos dados do estudo de caso.  
_O que estou achando da atividade até aqui?_

In [2]:
import pandas as pd

In [4]:
df = pd.read_excel(r"C:\Users\danip\Downloads\default_of_credit_card_clients__courseware_version_1_21_19.xls")
print(df.head())

              ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0  798fc410-45c1      20000    2          2         1   24     2      2
1  8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2  85698822-43f5      90000    2          2         2   34     0      0
3  0737c11b-be42      50000    2          2         1   37     0      0
4  3b7f77cc-dbc0      50000    1          2         1   57    -1      0

   PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0     -1     -1  ...          0          0          0         0       689
1      0      0  ...       3272       3455       3261         0      1000
2      0      0  ...      14331      14948      15549      1518      1500
3      0      0  ...      28314      28959      29547      2000      2019
4     -1      0  ...      20940      19146      19131      2000     36681

   PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0         0         0         0         0                           1
1      1000      1000         0      2000                           1
2      1000      1000      1000      5000                           0
3      1200      1100      1069      1000                           0
4     10000      9000       689       679                           0

[5 rows x 25 columns]

In [5]:
linhas, colunas = df.shape
print("Número de linhas:", linhas)
print("Número de colunas:", colunas)

Número de linhas: 30000
Número de colunas: 25

In [6]:
print(df.dtypes)

ID                            object
LIMIT_BAL                      int64
SEX                            int64
EDUCATION                      int64
MARRIAGE                       int64
AGE                            int64
PAY_1                         object
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default payment next month     int64
dtype: object

In [7]:
colunas_categoricas = df.select_dtypes(include='object').columns
colunas_numericas = df.select_dtypes(include='number').columns

print("\nColunas categóricas:")
print(colunas_categoricas.tolist())

print("\nColunas numéricas:")
print(colunas_numericas.tolist())

Colunas categóricas:
['ID', 'PAY_1']

Colunas numéricas:
['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month']

In [8]:
print("\nEstatísticas descritivas das colunas numéricas:")
print(df.describe())

Estatísticas descritivas das colunas numéricas:
            LIMIT_BAL           SEX     EDUCATION      MARRIAGE           AGE  \
count    30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean    165760.989333      1.586500      1.833333      1.535900     35.108800
std     130158.590432      0.513348      0.807699      0.542698      9.851592
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     79.000000

              PAY_2         PAY_3         PAY_4         PAY_5         PAY_6  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean      -0.132867     -0.164333     -0.219300     -0.263900     -0.288033
std        1.191215      1.191096      1.162348      1.127519      1.144981
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...      BILL_AMT4      BILL_AMT5      BILL_AMT6       PAY_AMT1  \
count  ...   30000.000000   30000.000000   30000.000000   30000.000000
mean   ...   42791.362167   39884.398167   38480.350933    5613.321500
std    ...   64090.316188   60606.644833   59406.836932   16539.094312
min    ... -170000.000000  -81334.000000 -339603.000000       0.000000
25%    ...    2034.000000    1534.000000    1080.000000     836.000000
50%    ...   18759.500000   17835.500000   16643.000000    2084.500000
75%    ...   53572.250000   49804.000000   48863.500000    5000.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

           PAY_AMT2       PAY_AMT3       PAY_AMT4       PAY_AMT5  \
count  3.000000e+04   30000.000000   30000.000000   30000.000000
mean   5.855410e+03    5174.387967    4776.089733    4754.749200
std    2.299256e+04   17565.538305   15532.893047   15239.070708
min    0.000000e+00       0.000000       0.000000       0.000000
25%    7.217500e+02     371.000000     223.000000     170.750000
50%    2.000000e+03    1776.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4000.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

            PAY_AMT6  default payment next month
count   30000.000000                30000.000000
mean     5164.223267                    0.218733
std     17712.664703                    0.413394
min         0.000000                    0.000000
25%         9.000000                    0.000000
50%      1500.000000                    0.000000
75%      4000.000000                    0.000000
max    528666.000000                    1.000000

[8 rows x 23 columns]

In [9]:
print("\nFrequência das classes nas colunas categóricas:")
for col in colunas_categoricas:
    print(f"\n{col} - Frequência:")
    print(df[col].value_counts())

Frequência das classes nas colunas categóricas:

ID - Frequência:
ID
ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
                ..
2edeb3a6-d38d    1
27e11893-92e9    1
2b1c282b-441e    1
bd737997-0eb0    1
15d69f9f-5ad3    1
Name: count, Length: 29687, dtype: int64

PAY_1 - Frequência:
PAY_1
0                13402
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2378
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9
Name: count, dtype: int64

In [10]:
print("\nVerificar se existem dados faltantes:")
print(df.isnull().sum())

Verificar se existem dados faltantes:
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_1                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64